.footer {
  padding: 60px 0 60px 0;
  background-color: var(--footer-bg);
}
.footer-container {
  align-items: baseline;
  text-align: center;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.footer-nav {
  @media screen and (min-width: 768px) and (max-width: 1200px) {
    margin-right: 165px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 70px;
    text-align: left;
  }
}
.footer-logo {
  padding: 0;
  margin-bottom: 20px;
  color: var(--main-color);
}
.address-list {
  margin-bottom: 60px;
  @media screen and (min-width: 1200px) {
    margin-bottom: 0px;
  }
}
.address-list__item:not(:last-child) {
  margin-bottom: 8px;
}
.address-link {
  color: var(--footer-text);
  font-style: normal;
  @include font(400, 14px, 24px, 0.03em);

  &-map {
    color: var(--main-color);
    font-style: normal;
    @include font(400, 14px, 24px, 0.03em);
  }
}

.footer-media {
  margin-bottom: 60px;
  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}
.media-title {
  margin-bottom: 20px;
  @include font(700, 14px, 16px, 0.03em);
  text-transform: uppercase;

  color: var(--main-color);
}
.media-list {
  justify-content: center;
  display: flex;
  &__item + &__item {
    margin-left: 10px;
  }
  &__link {
    @include position-items;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    color: var(--main-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      background-color: var(--accent-color);
    }
  }
  &__icon {
    fill: currentColor;
  }
}

.container-form {
  @media screen and (min-width: 1200px) {
    display: flex;
    margin-left: 93px;
  }
}
.footer-label {
  margin-bottom: 20px;
  @include font(700, 14px, 16px, 0.03em);
  text-transform: uppercase;
  color: var(--main-color);
  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}
.footer-wrap {
  @media screen and (min-width: 1200px) {
    display: flex;
    margin-right: 12px;
  }
}
.footer-input {
  padding: 16px 15px;

  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  color: var(--main-color);
  background-color: var(--footer-bg);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
  @media screen and (min-width: 768px) {
    width: 450px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 12px;
    width: 358px;
  }
}
.footer-btn {
  @include position-items;
  justify-content: center;
  width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  @include font(700, 16px, 30px, 0.06em);
  color: var(--main-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: var(--accent-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.footer-form-icon {
  fill: var(--main-color);
  margin-left: 10px;
}
