:root {
  --primary-text-color: #757575;
  --second-text-color: #212121;
  --accent-color: #2196f3;
  --main-color: #ffffff;
  --team-bg-color: #f5f4fa;
  --footer-text: rgba(255, 255, 255, 0.6);
  --footer-bg: #2f303a;
  --logo-color: #000000;
  --icons-color: #afb1b8;
  --primary-font: Roboto, sans-serif;
  --second-font: Raleway, sans-serif;
}
